.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 10px;
}

.nav-logo {
  width: 60px;
}

.nav-items {
  list-style: none;
  display: flex;
}

.nav-items > li {
  padding: 10px;
}

.footer {
  background-color: grey;
  padding: 5px;
}
